<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <a href="{% url 'lojaapp:adminhome' %}">HOME</a>  |
        <a href="{% url 'lojaapp:adminhome' %}">TODOS OS PEDIDOS</a>  |
        <a href="{% url 'lojaapp:home' %}" target="_blank">VISITAR O SITE</a>  |
    </div>
    
    {% block content %}
    {% endblock content %}
</body>
</html>