{% extends 'base.html' %}
{% block title %}Entrar{% endblock title %}


{% block content %}

<div class="container">
   <div class="row">
    <div class="col-md-6 mx-auto">
        <h3>Entrar</h3>
        <form action="" method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-success">Entrar</button>
            {% if error %}
                <li>{{ error }}</li>
            {% endif %}
        </form>
        <p>Não possui cadastro? <a href="{% url 'lojaapp:registrarcliente' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif  %}">Clique aqui!</a></p>
    </div>
   </div>
</div>
    
{% endblock content %}