{% extends 'base.html' %}
{% block title %}Perfil{% endblock title %}


{% block content %}

<div class="container">
   <div class="row">
    <div class="col-md-6 mx-auto">
        <h3>Detalhes do Cliente:</h3>
        <p><span class="font-weight-bold">Nome: </span>{{cliente.nome_completo}}</p>
        <p><span class="font-weight-bold">Usuário: </span>{{cliente.user.username}}</p>
        <p><span class="font-weight-bold">E-mail: </span>{{cliente.user.email}}</p>
        <p><span class="font-weight-bold">Endereço: </span>{{cliente.endereco}}</p>
        <p><span class="font-weight-bold">Cadastrado em: </span>{{cliente.data_on}}</p>
       
       
    </div>
    <div class="col-md-8 ">
        <h3>Detalhes das Compras Anteriores:</h3>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Pedido ID</th>
                    <th>Valor</th>
                    <th>Data do Pedido</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for pedidos in pedidos %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                            

                    <td><a href="{% url 'lojaapp:clientepedidodetalhe' pedidos.pk %}">{{ pedidos.id }}</td></a>
                    <td>{{ pedidos.total }}</td>
                    <td>{{ pedidos.criado_em }}</td>
                    <td>{{ pedidos.pedido_status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
       
    </div>
   </div>
</div>
    
{% endblock content %}