{% extends 'base.html' %}
{% block title %}Meu Carrinho{% endblock title %}


{% block content %}

<div class="container">
   <div class="row">
    <div class="col-md-8">
        <h4>Itens do carrinho</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Produto</th>
                    <th>Avaliação</th>
                    <th>Quantidade</th>
                    <th>Subtotal</th>
                    <th>Ação</th>
                </tr>
                <tbody>
                    {% for cp in carrinho.carroproduto_set.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ cp.produto.titulo }}</td>
                            <td>{{ cp.avaliacao }}</td>
                            <td>{{ cp.quantidade }}</td>
                            <td>{{ cp.subtotal }}</td>
                            <td>
                                <a href="{% url 'lojaapp:manipular-carrinho' cp.id %}?acao=inc" class="btn btn-success">+</a>
                                <a href="{% url 'lojaapp:manipular-carrinho' cp.id %}?acao=dcr" class="btn btn-warning">-</a>
                                <a href="{% url 'lojaapp:manipular-carrinho' cp.id %}?acao=rmv" class="btn btn-danger">x</a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">Total do Carrinho</th>
                        <th>R$ {{carrinho.total}}</th>
                    </tr>
                </tbody>
            
            </thead>
        </table>
    </div>
   </div>
</div>
    
{% endblock content %}